# Auto detect text files and perform LF normalization
* eol=lf
*.cs eol=crlf
*.ttf binary
*.json eol=crlf
*.uss eol=crlf
*.uxml eol=crlf
*.json eol=lf
*.xsd eol=crlf
*.png binary
*.exe binary
*.assets binary
*.resS binary
*.dll binary
*.exe binary
*.dll binary
*.assets binary
*.unity binary
*.prefab binary
*.exe binary
*.dll binary
*.unity3d binary
*.asset binary
*.controller binary
*.mat binary
*.fbx binary
*.wav binary
*.ogg binary
*.mp3 binary
*.png binary
*.jpg binary
GameBuild/** binary